.ItemForm {
    text-align: center;
    background-color: #fa8172;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(20px + 2vmin);
    color: white;
  }
  
  .ItemForm-header {
    background-color: #8072fa;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(30px + 2vmin);
    color: white;
  }

  .button {
    cursor: pointer;
    border: 1px solid #00e0e0;
    padding: 8px;
    min-width: 64px;
   
    background: transparent;
   
    transition: all 0.1s ease-in;
  }
   
  .button:hover {
    background: rgb(16, 230, 230);
    color: rgb(241, 98, 141);
  }