.Orders {
    text-align: center;
    background-color: #fa8172;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(20px + 2vmin);
    color: white;
  }
  
  .Orders-header {
    background-color: #fa8172;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(30px + 2vmin);
    color: white;
  }

  .button {
    cursor: pointer;
    border: 1px solid #00e0e0;
    padding: 8px;
    min-width: 64px;
   
    background: turquoise;
    font-size: calc(10px + 2vmin);
    color: white;
   
    transition: all 0.1s ease-in;
    align-items: center;
    justify-content: center;
  }
   
  .button:hover {
    background: #00e0e0;
    color: black
  }
